backend==0.2.4.1
beautifulsoup4==4.14.3
fastapi==0.135.1
instructor==1.14.5
ipython==9.0.1
langchain
langchain_community==0.4.1
langchain_core==1.2.20
langchain_huggingface==1.2.1
langchain_neo4j
logfire==4.29.0
mlx==0.30.6
mlx_lm==0.28.3
mlx_metal==0.30.6
openai==2.29.0
pandas==3.0.1
pydantic==2.12.5
pydantic_evals==1.70.0
pydantic_settings==2.13.1
pytest==9.0.2
Requests==2.32.5
tabulate==0.10.0
tenacity==9.1.2
tqdm==4.67.1
transformers==4.56.2
